ul {
    margin: 0;
    padding-left: 20px;
    width: 100%;
    background-color: transparent;
    list-style: none;
    cursor: pointer;
}

li {
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
}

li > i {
    margin: -10px;
}

.material-icons {
    position: relative;
    top: 7px;
}

p {
    margin: 0;
    padding: 1px 0 6px;
    box-sizing: border-box;
    height: 32px;
}

.stop {
    display: inline-block;
    padding: 3px 0;
    width: 100%;
    color: #000000;
}

p:hover {
    background-color: #f2f2f2;
}

.hide {
    display: none;
}

.block {
    display: block;
}

i {
    color: #FFD534;
}

i.file {
    color: #ABABAB;
}
