$bodyBackground: #dcbb9a;
$textCaptionBorderImage:#893c00;
$contentBackground:#ffffff;
$colorBackgroundBlock: #fadcba;
$tableColorHead:#e0e0e0;
$tableRowBackgraund:#ffffff;
$textTableColor:#000000;
$textColor:#000000;
$linkTableColor:#4682B4;
$colorLabelForm: darken($tableColorHead, 45%);
$widthBrief:430px;
$marginBrief: 0 15px 15px 0;
$colorBrief: inherit;
$floatBrief: left;
$transformH1: none;
$marginRightNameSur: 2%;