$bodyBackground:rgba(198, 238, 252, 0.53);
$textCaptionBorderImage: #fccd10;
$contentBackground:#3b3b3b;
$colorBackgroundBlock:#fff178;
$tableColorHead:#94a34e;
$tableRowBackgraund:#677d01;
$textTableColor:#e0e0e0;
$linkTableColor:#f5c70f;
$textColor:#e0e0e0;
$colorLabelForm: #f5c70f;
$widthBrief:100%;
$marginBrief: 0 15px 40px 0;
$colorBrief: #000000;
$floatBrief: null!default;
$transformH1:uppercase;
$marginRightNameSur: 2%;
